<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>JT</title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="">
  </head>
  <body>
      <!--[if lt IE 7]>
          <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      <header>
        <nav class="content-wrap">
          <p>About — JT</p>
          <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/work">Work</a></li>
            <li><a href="/inprogress">In Progress</a></li>
            <li><a href="/professional">Professional</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
          <img src="" alt=""/>
        </nav>
      </header>

      <main>
        <header>
          <img src="" alt=""/>
        </header>

        <section id="content">

          <div class="row">
            <h1 class="title">Introduction</h1><br/>
            <p>
              I am a full stack developer living in London, but born and raised in the lovely town of Shrewsbury. I currently work at LCC as a web specialist technician, but I also do a lot of projects in my own time.
            </p>
            <p>
              <a href="/about">Read more</a>
            </p>
          </div>

          <div class="row">
            <h1 class="title">Work</h1><br/>

            <ul class="big-list">
              <li class="big-list-row">
                <a href="/">
                  <span class="big-list-row-title">Play</span>
                  <span class="big-list-row-type">Installation</span>
                </a>
              </li>
              <li class="big-list-row">
                <a href="/">
                  <span class="big-list-row-title">Play</span>
                  <span class="big-list-row-type">Installation</span>
                </a>
              </li>
              <li class="big-list-row">
                <a href="/">
                  <span class="big-list-row-title">Play</span>
                  <span class="big-list-row-type">Installation</span>
                </a>
              </li>
              <li class="big-list-row">
                <a href="/">
                  <span class="big-list-row-title">Play</span>
                  <span class="big-list-row-type">Installation</span>
                </a>
              </li>
              <li class="big-list-row">
                <a href="/">
                  <span class="big-list-row-title">Play</span>
                  <span class="big-list-row-type">Installation</span>
                </a>
              </li>
            </ul>

            <p>
              <a href="/work">View all</a>
            </p>
          </div>

        </section>
      </main>

      <footer>
        <div class="content-wrap">
          <div class="footer-info">
            <p>
              <span class="title">About this site</span><br/>
              This site was made bespoke by me, without JS frameworks for a long term solution to a portfolio site. It is generated using eleventy.
            </p>
            <p>
              The type is set in GT Walsheim. The logo image is generated upon every visit.
            </p>
          </div>
          <div class="footer-contact">
            <p>
              <span class="title">Get in touch</span>
              <a href="mailto:hi@jthaw.me?subject=Hey Jonny!">hi@jthaw.me</a><br/>
              <a href="https://twitter.com/jthawme" target="_blank" rel="noreferrer noopenefer">@jthawme</a>
            </p>
          </div>
        </div>
      </footer>

      {# <script src="" async defer></script> #}
  </body>
</html>
